[submodule "client"]
	path = client
	url = https://github.com/furkleindustries/twine-package-manager-client
[submodule "diskdb"]
	path = diskdb
	url = https://github.com/furkleindustries/twine-package-manager-diskdb
[submodule "logic"]
	path = logic
	url = https://github.com/furkleindustries/twine-package-manager-logic
[submodule "memorydb"]
	path = memorydb
	url = https://github.com/furkleindustries/twine-package-manager-memorydb
[submodule "scripts"]
	path = scripts
	url = https://github.com/furkleindustries/twine-package-manager-scripts
[submodule "web"]
	path = web
	url = https://github.com/furkleindustries/twine-package-manager-web
